@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media screen and (min-width:1200px){
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    color: rgb(5, 5, 5);
}
header{
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    background-image: url('/image/Bitmap.png');
    background-size: cover;                
    background-repeat: no-repeat;             
}
.header-article{
    display: flex;
    justify-content: space-between;
    
}
.header-article1{
    height: 400px;
    margin: 100px;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    color:#4D533C;
    font-size: 34px;
    font-weight: bold;
}
h3{
    color:#4D533C;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    
}
article{
    margin-left: 10px;
}
.p1{
    margin-bottom: 30px;
}
.p2{
    color: rgb(255, 208, 0);
    font-weight: bold;
}
.p3{
    color: #4D533CE5;
    font-size: 12px;
}
.p4{
    color: #21384299;
    font-size: 14px;
    width: 400px;
}
.p5{
    color: #4D533C;
    font-size: 20px;
}
.p6{
    color: #4D533C;
    font-size: 15px;
}
.p7{
    color: #21384299;
    font-size: 16px;
    width: 400px;
    align-self: center;
}
.p8{
    
    color: #D4D6D4;
    margin-top: 50px;
}
.p9{
    padding-top: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
.p10{
    
    color: #B5C096;
    margin-top: 10px;
}
.logo img{
    width: 180px;
    height: 30px;
    margin-top: 15px;
    margin-left: 55px;
    
}
.photo img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    
    
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 20px;
}
nav li{
    margin-left: 30px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}
nav a:hover{
    color: rgb(12, 71, 5);
}
.main4{
    display: flex;
    justify-content: center;
    gap: 130px;
}
.main1{
    
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.main2{
    margin-top: 150px;
}
.main3{
    background-color: white;
    box-shadow: 0px 1px 100px rgb(209, 209, 209);
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
}
.photo-content{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.main5{
    
    margin: 100px auto;
    display: flex;
    gap: 100px;
    justify-content: center;
}
footer{
    
    padding: 35px;
    align-items: center;
    background-color: #4F553D;
}
section{
    margin-left: 50px;
}
.footer-article{
    display: flex;
    padding-bottom: 50px;
    border-bottom: 2px solid #5D6544;
    padding-bottom: 100px;
}
.footer-article1{
    display: flex;
    justify-content: space-between;
}
}
@media screen and (max-width: 1199px){
    body{
        font-family: Poppins;
        color: rgb(5, 5, 5);
    }
    header{
        color: rgb(255, 255, 255);
        padding: 8px 16px;
        background-image: url('/image/Bitmap.png');
        background-size: cover;                
        background-repeat: no-repeat;             
    }
    .header-article{
        display: flex;
        justify-content: space-between;
        
    }
    .header-article1{
        height: 200px;
        margin: 50px;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
    }
    h2{
        color:#4D533C;
        font-size: 17px;
        font-weight: bold;
    }
    h3{
        color:#4D533C;
        font-size: 7px;
        font-weight: bold;
        margin-bottom: 3px;
        
    }
    article{
        margin-left: 5px;
    }
    .p1{
        margin-bottom: 15px;
        font-size: 6px;
    }
    .p2{
        color: rgb(255, 208, 0);
        font-weight: bold;
        font-size: 6px;
    }
    .p3{
        color: #4D533CE5;
        font-size: 6px;
    }
    .p4{
        color: #21384299;
        font-size: 7px;
        width: 200px;
    }
    .p5{
        color: #4D533C;
        font-size: 10px;
    }
    .p6{
        color: #4D533C;
        font-size: 7.5px;
    }
    .p7{
        color: #21384299;
        font-size: 8px;
        width: 200px;
        align-self: center;
    }
    .p8{
        font-size: 7px;
        color: #D4D6D4;
        margin-top: 25px;
    }
    .p9{
        padding-top: 5px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 5px;
    }
    .p10{
        
        color: #B5C096;
        margin-top: 5px;
    }
    .logo img{
        width: 90px;
        height: 15px;
        margin-top: 7.5px;
        margin-left: 27.5px;
        
    }
    .photo img{
        width: 30px;
        height: 30px;
        margin-top: 7.5px;
        
        
    }
    nav ul{
        list-style-type: none;
        display: flex;
        margin: 10px;
    }
    nav li{
        margin-left: 15px;
    }
    nav a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
        font-size: 7.5px;
    }
    nav a:hover{
        color: rgb(12, 71, 5);
    }
    .main4{
        display: flex;
        justify-content: center;
        gap: 65px;
    }
    .main1{
        
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 50px;
        margin-left: 25px;
        margin-bottom: 50px;
        margin-right: 25px;
        display: flex;
        gap: 50px;
        justify-content: center;
    }
    .main2{
        margin-top: 75px;
    }
    .main3{
        background-color: white;
        box-shadow: 0px 1px 50px rgb(209, 209, 209);
        padding-top: 75px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 160px;
    }
    .photo-content{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
    }
    .main5{
        
        margin: 50px auto;
        display: flex;
        gap: 50px;
        justify-content: center;
    }
    .photo-ai img{
        width: 240px;
        height: 190px;
        
    }
    footer{
        font-size: 10px;
        padding: 17.5px;
        align-items: center;
        background-color: #4F553D;
    }
    section{
        margin-left: 25px;
    }
    .footer-article{
        display: flex;
        padding-bottom: 25px;
        border-bottom: 1px solid #5D6544;
        padding-bottom: 50px;
    }
    .footer-article1{
        display: flex;
        justify-content: space-between;
    }
    
}
